container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  04_setuproles:
    command: "python manage.py setup_roles"
    leader_only: true

  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py

